
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: crimson;
}

header {
    padding: 2rem;
    background-color: black;
    background-size: cover;
    background-position: 80%;
    padding-bottom: 30px;
}

h1 {
    margin: 0;
    text-align: center;
    font-weight: 600;
}

.greenbtn {
    background-color: black;
    color: wheat;
    font-weight: bold;
}

header span {
    color: crimson;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.t10, .t11, .t12, .t13, .t14 {
    color: darkgreen;
}

/* Title text */
/* .t1 {}
.t2 {}
.t3 {}
.t4 {}
.t5 {}
.t6 {}
.t7 {}
.t8 {}
.t9 {}
.t10 {}
.t11 {}
.t12 {}
.t13 {}
.t14 {} */
    
